<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quản lý</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     <script src="js/import.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet">
    <link href="css/css2.css" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="css/css.css" rel="stylesheet">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet">


</head><!--/head-->

<body class="animsition">
<div class="page-wrapper">
    <div w3-include-html="header.html"></div>

<script>
includeHTML();
</script>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
     <script src="js/animsition.min.js"></script>
    <script src="js/chucnang.js"></script>
    <script src="js/main.js"></script>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="container">
                <div class="row">


                    <div class="col-md-12">
                        <h1>Bảng tra cứu đơn hàng</h1>
                        <div class="table-responsive">


                            <table id="mytable" class="table table-bordred table-striped">

                                <thead>

                                <th>Mã</th>
                                <th>Họ và tên khách hàng</th>
                                <th>Số lượng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th>Xóa</th>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>001</td>
                                    <td>Nguyễn lê hà</td>
                                    <td> 2</td>
                                    <td>150.000</td>
                                    <td> Đã giao</td>
                                    <td>
                                        <button name="delete-id" onclick="xoa()" class="btn btn-danger btn-xs"
                                                data-title="Delete" data-toggle="modal" data-target="#delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>002</td>
                                    <td>Trần văn tùng</td>
                                    <td>1</td>
                                    <td>15.000.000</td>
                                    <td>Đã giao</td>
                                    <td>
                                        <button onclick="xoa()" class="btn btn-danger btn-xs" data-title="Delete"
                                                data-toggle="modal" data-target="#delete"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                    </td>


                                </tr>
                                <tr>
                                    <td>003</td>
                                    <td>Nguyễn lan anh</td>
                                    <td>5</td>
                                    <td>3.520.000</td>
                                    <td> Đang giao</td>
                                    <td>
                                        <button onclick="xoa()" class="btn btn-danger btn-xs" data-title="Delete"
                                                data-toggle="modal" data-target="#delete"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                    </td>


                                </tr>
                                <tr>
                                    <td>004</td>
                                    <td>Trần văn tùng</td>
                                    <td>2</td>
                                    <td>1.000.000</td>
                                    <td>Đang giao</td>

                                    <td>
                                        <button onclick="xoa()" class="btn btn-danger btn-xs" data-title="Delete"
                                                data-toggle="modal" data-target="#delete"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                    </td>

                                </tr>

                                </tbody>

                            </table>

                            <div class="clearfix"></div>
                            <ul class="pagination pull-right">
                                <li class="disabled"><a href="#"><span
                                        class="glyphicon glyphicon-chevron-left"></span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->

<!-- END PAGE CONTAINER -->
</div>

<!-- END PAGE WRAPPER -->
</div>
 <script src="js/animsition.min.js"></script>
    <script src="js/chucnang.js"></script>
    <script src="js/main.js"></script>
<!-- END BODY -->
</body>

<!-- END HTML -->
</html>