<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quản lý</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     <script src="js/import.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet">
    <link href="css/css2.css" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="css/css.css" rel="stylesheet">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet">


</head><!--/head-->

<body class="animsition">
<div class="page-wrapper">
    <div w3-include-html="header.html"></div>

<script>
includeHTML();
</script>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
     <script src="js/animsition.min.js"></script>
    <script src="js/chucnang.js"></script>
    <script src="js/main.js"></script>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Bảng tra cứu ngành hàng</h1>
                        <div class="table-responsive">
                            <button onclick="themmoi(true)" id="themmoi"
                                    class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Thêm mới
                            </button>

                            <table id="mytable" class="table table-bordred table-striped">
                                <thead>
                                <th>Mã</th>
                                <th>Tên ngành hàng</th>
                                <th>Trạng thái</th>
                                <th>Chỉnh sửa</th>
                                <th>Xóa</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>${item.id}</td>
                                        <td>${item.nameCat}</td>
                                        <td>
                                            Bình thường
                                        </td>
                                        <td>
                                            <p onclick="(()=>{
                                                    document.getElementById('edit-cat-id').value = '${item.id}';
                                                    document.getElementById('edit-cat-name').value = '${item.nameCat}';
                                                    chinhsua(true);
                                                    })()">
                                                <button class="btn btn-primary btn-xs" data-title="Chỉnh sửa"
                                                        data-toggle="modal" data-target="#edit">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </p>
                                        </td>
                                        <td>
                                            <form action="${pageContext.request.contextPath}/managers/category-manager/delete"
                                                  method="post">
                                                <input type="hidden" name="delete-cat-id" value="${item.id}">
                                                <button onclick="xoa()" class="btn btn-danger btn-xs"
                                                        data-title="Delete"
                                                        data-toggle="modal" data-target="#delete" name="delete">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="clearfix"></div>
                            <ul class="pagination pull-right">
                                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
</div>
<!-- END PAGE CONTAINER-->

<dialog id="favDialog_themmoi">
    <div class="container">
        <h1>Thêm mới</h1>
        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <form class="form-horizontal" action="${pageContext.request.contextPath}/managers/category-manager/new"
                      method="post" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên nghành hàng:</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="name" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button class="btn btn-primary">Lưu</button>
                            <button class="btn btn-primary" onclick="return themmoi(false)">Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>

<dialog id="favDialog_chinhsua">
    <div class="container">
        <h1>Chỉnh sửa thông tin</h1>
        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <form class="form-horizontal" role="form" action="/managers/category-manager/edit" method="post">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên ngành hàng:</label>
                        <div class="col-lg-8">
                            <input type="hidden" id="edit-cat-id" name="id">
                            <input class="form-control" type="text" value="Thiết bị điện tử" name="name" id="edit-cat-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button class="btn btn-primary">Lưu</button>
                            <button class="btn btn-primary" onclick="return chinhsua(false)">Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>
<!-- END PAGE CONTAINER -->
</div>

<!-- END PAGE WRAPPER -->
</div>
 <script src="js/animsition.min.js"></script>
    <script src="js/chucnang.js"></script>
    <script src="js/main.js"></script>
<!-- END BODY -->
</body>

<!-- END HTML -->
</html>