{% extends 'static/Quan_Ly/Base.html' %}
{% load static %}

{% block content %}    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
     <script src="js/animsition.min.js"></script>
    <script src="js/chucnang.js"></script>
    <script src="js/main.js"></script>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="container">
                <div class="row">


                    <div class="col-md-12">
                        <h1>Bảng tra cứu loại hàng</h1>
                        <div class="table-responsive">
                            <button onclick="themmoi(true)" id="themmoi"
                                    class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Thêm mới
                            </button>


                            <table id="mytable" class="table table-bordred table-striped">

                                <thead>

                                <th>Mã</th>
                                <th>Tên loại hàng</th>
                                <th>Tên ngành hàng</th>
                                <th>Trạng thái</th>
                                <th>Chỉnh sửa</th>
                                <th>Xóa</th>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>${item.id}</td>
                                        <td>${item.nameType}</td>
                                        <td>${item.catID}</td>
                                        <td>
                                            Hoạt động
                                        </td>
                                        <td>
                                            <p onclick="chinhsua(true)">
                                                <button class="btn btn-primary btn-xs" data-title="Chỉnh sửa"
                                                        data-toggle="modal" data-target="#edit"><span
                                                        class="glyphicon glyphicon-pencil"></span></button>
                                            </p>
                                        </td>
                                        <td>
                                            <form >
                                                <input type="hidden" name="id"
                                                       value='${item.id}'/>
                                                <button class="btn btn-danger btn-xs" data-title="Delete"
                                                        data-toggle="modal" type="submit"
                                                        onClick="return confirm('Bạn có chắc chắn muốn xóa?')">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </form>
                                        </td>


                                    </tr>

                                </tbody>

                            </table>

                            <div class="clearfix"></div>
                            <ul class="pagination pull-right">
                                <li class="disabled"><a href="#"><span
                                        class="glyphicon glyphicon-chevron-left"></span></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
</div>
<!-- END PAGE CONTAINER-->


<dialog id="favDialog_chinhsua">
    <div class="container">
        <h1>Chỉnh sửa thông tin</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="" alt="avatar">


                    <input type="file" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">


                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên loại hàng:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="Điện thoại di động">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Chọn ngành hàng:</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select class="form-control">
                                    <option value="Nam">Thiết bị điện tử</option>
                                    <option value="">Tạp hóa</option>
                                    <option value="">Thời trang</option>
                                    <option value="">Đồ gia dụng</option>
                                    <option value="">Sức khỏe & làm đẹp</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">

                            <button class="btn btn-primary">Lưu</button>

                            <button class="btn btn-primary">Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>

<dialog id="favDialog_themmoi">
    <div class="container">
        <h1>Thêm mới</h1>
        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">


                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tên loại hàng:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Chọn ngành hàng:</label>
                        <div class="col-lg-8">
                        <div class="ui-select">
                            <select class="form-control" name="cat">
                                <option value=1>Đồ điện tử</option>
                                <option value=2>Đồ gia dụng</option>
                                <option value=3>Giày</option>
                            </select>
                        </div>
                    </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">

                            <button class="btn btn-primary">Lưu</button>

                            <button class="btn btn-primary" onclick="themmoi(false)">Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
</div>
<!-- END PAGE CONTAINER-->

<!-- END PAGE CONTAINER -->
</div>

<!-- END PAGE WRAPPER -->
{% endblock %}