{% extends 'static/Khach_Hang/Base.html' %}

{% load static %}

{% block content %}
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Ngành hàng</h2><div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for label in labs %}
								<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{label.id}}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												{{label.name}}
										</a>
									</h4>
								</div>
								<div id="{{label.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for cate in cates %}
												{% if cate.label.name == label.name %}
													<li><a href="{% url 'trang-chu:category' cate.id %}">{{cate.name}} </a></li>

												{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}

						</div><!--/category-products-->

						<div class="shipping text-center"><!--shipping-->
							<img style="height: 450px;width: 230px;"src="{% static 'Khach_Hang/images/home/63epIkbEsTksN.jpg-1.jpg' %}" alt="" />
						</div><!--/shipping-->

					</div>
				</div>

				<div class="col-sm-9 padding-right">
					{% if products %}
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img style="    border: solid;border-style: ridge;" src="{% static products.image.url %}" alt="" />

							</div>


						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->

								<img src=" " class="newarrival" alt="" />
								<h2>{{ products.name }}</h2>
								<p>Description: {{ products.description }}</p>
								<span>
									<span>{{ products.price }}VNĐ</span>
									<label>Quantity:</label>
									<input type="number" value="1" id="number" min="1"/>

								</span>
                                {% if products.quantity == 0 %}

								<p><b>Số lượng:</b> Hết hàng</p>
                                    {% else %}
                                     <p>
                                    <a  href="{{ products.get_add_to_cart_url }}" onclick="addcart({{ products.id }})" class="btn btn-primary btn-md my-0 p">
										Thêm vào giỏ hàng
										<i class="fa fa-shopping-cart"></i>
									</a >
                                    <a  href="{{ products.get_remove_from_cart_url }}" onclick="addcart({{ products.id }})" class="btn btn-primary btn-md my-0 p">
										Xóa khỏi giỏ hàng
										<i class="fa fa-shopping-cart"></i>
									</a >
                                </p>
								<p><b>Số lượng:</b> {{products.quantity}} Chiếc</p>
                                {% endif %}


								<p><b>Loại:</b> {{ products.category }}</p>
								<p><b>Nhà sản xuất:</b> {{ products.supplier}}</p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					{% endif %}

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#reviews" data-toggle="tab">Đánh giá sản phẩm (1)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>Trần Quang Thụy</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>2:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>14 1 2021</a></li>
									</ul>
                                    <p> Sản phẩm tốt</p>
                                    <ul>
										<li><a href=""><i class="fa fa-user"></i>Đỗ Hữu Quang</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>15:13 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>5  2021</a></li>
									</ul>
                                    <p> Sản phẩm đánh giá 5*</p>
                                    <ul>
										<li><a href=""><i class="fa fa-user"></i>Hà Quốc Việt</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>9:05 AM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>14 12 2020</a></li>
									</ul>
                                    <p>Chất lượng tốt</p>
									<p><b>Đánh giá của bạn</b></p>

									<form action="#">
										<span>
											<input type="text" placeholder="Họ và tên"/>
											<input type="email" placeholder="Địa chỉ email"/>
										</span>
										<textarea name="" ></textarea>
										<b>Đánh giá: </b> <img src={% static 'Khach_Hang/images/product-details/rating.png' %} alt=""/>
										<button type="button" class="btn btn-default pull-right">
											Đánh giá
										</button>
									</form>
								</div>
							</div>

						</div>
					</div><!--/category-tab-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Sản phẩm tương tự</h2>


						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for item in random %}
										<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<img style=" height: 150px;   width: 150px;" src="{% static item.image.url %}" alt="" />
												<h2>{{ item.price }}VNĐ</h2>
												<p>{{ item.name }}</p>
												<a href="{{ products.get_add_to_cart_url }}" onclick="addcart({{ products.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
												<a href="{% url 'trang-chu:product' item.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>

											</div>

									</div>

								</div>
							</div>
									{% endfor %}

								</div>
								<div class="item">
									{% for item in random1 %}
									<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img  style="   height: 150px; width: 150px;" src="{% static item.image.url %}" alt="" />
											<h2>{{ item.price }}VNĐ</h2>
											<p>{{ item.name }}</p>
											<a href="{{ products.get_add_to_cart_url }}" onclick="addcart({{ products.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
											<a hhref="{% url 'trang-chu:product' item.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>

										</div>

								</div>

							</div>
						</div>
									{% endfor %}
								</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>
{% endblock %}


