{% extends 'static/Khach_Hang/Base.html' %}
{% load static %}

{% block content %}
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Đăng nhập</h2>
						<form action="#">
							<input type="text" placeholder="Tên đăng nhập" />
							<input type="password" placeholder="Mật khẩu" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Lưu tài khoản
							</span>
							<button type="submit" class="btn btn-default">Đăng nhập</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">Hoặc</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Đăng ký tài khoản</h2>
						<form action="#" method="post">
                                {% csrf_token %}

                            <input type="text" name="1" placeholder="Họ và tên"/>
							<input type="text" name="2" placeholder="Tên đăng nhập"/>
							<input type="password" name="3" placeholder="Mật khẩu"/>
							<input type="password"  placeholder="Nhập lại mật khẩu"/>
							<input type="text" name="4" placeholder="Số điện thoại"/>
							<input type="email" name="5" placeholder="Email"/>
							<input type="text" name="6" placeholder="Địa chỉ"/>
							<button type="submit" class="btn btn-default">Đăng ký</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}