

	<footer id="footer"><!--Footer-->
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>Shopping</span></h2>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Người thực hiện</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Trần Quang Thụy</a></li>
								<li><a href="#">Đỗ Hữu Quang</a></li>
								<li><a href="#">Hà Quốc Việt</a></li>

							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Giảng viên</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Ngô Thế Quyền</a></li>

							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Tham khảo</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Front-end:E-Shopper</a></li>

							</ul>
						</div>
					</div>



				</div>
			</div>



	</footer><!--/Footer-->

