{% extends 'static/Khach_Hang/Base.html' %}
{% load static %}

{% block content %}

	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
                        </form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">

				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Đăng nhập</h2>
						<form method="POST">




                            <input type="text" name="tendangnhap" placeholder="Tên đăng nhập"/>
                            <input type="password" name="matkhau" placeholder="Mật khẩu"/>


							<span>


                                <input type="checkbox" class="checkbox">
								Lưu tài khoản
							</span>
							<button type="submit" class="btn btn-default">Đăng nhập</button>

                             {% csrf_token %}

                                {% for message in messages %}
                                <p id="messages">{{ message }}</p>

                            {% endfor %}

						</form>


					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}