{% extends 'static/Khach_Hang/Base.html' %}
{% load static %}

{% block content %}

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>Iphone 12</span>-Pro Max 128GB </h1>
									<h2>21.570.000₫</h2>
                                    <p>Apple đã trang bị cho điện thoại 12 Pro Max mới này màn hình có kích thước lên đến 6,7 inch, nhờ vậy mà phần viền của máy rất nhỏ. Giống như iPhone 11 Pro Max, lần này Apple cũng dùng màn hình Super Retina XDR. Với độ phân giải 2778 x 1284 pixel, màn hình iPhone 12 Pro Max còn được bo tròn theo thiết kế cong và các góc này nằm trong một hình chữ nhật tiêu chuẩn.</p>
									<a href="product/1" type="button" class="btn btn-default get">Mua ngay</a>
								</div>
								<div class="col-sm-6">
									<img style="width: 1000px;height: 500px;"src="{% static '/Khach_Hang/images/home/trang-1.jpg' %}" class="girl img-responsive" alt="" />
									<img style="width: 100px;height: 100px; right: 0%; top: 70%"src="{% static 'Khach_Hang/images/home/download.jpg' %}" class="pricing" alt="" />
								</div>
							</div>

                            <div class="item">
								<div class="col-sm-6">
									<h1><span>MacBook</span> Pro 2020  </h1>
									<h2>51,550,000.0₫</h2>
                                    <p>Chiếc MacBook Pro 2020 vẫn mang thiết kế quen thuộc của mẫu Mac 13-inch từng được ra lò nhiều năm qua. Apple đã khẳng định đây là “thiết kế notebook gọn nhẹ nhất” mà vẫn giữ được hiệu năng đỉnh cao và thời lượng pin dài cả ngày.</p>
									<a href="product/5" type="button" class="btn btn-default get">Mua ngay</a>
								</div>
								<div class="col-sm-6">
									<img style="width: 1000px;height: 500px;"src="{% static 'Khach_Hang/images/home/unnamed.jpg ' %}" class="girl img-responsive" alt="" />
									<img style="width: 80px;height: 80px; right: 0%; top: 70%"src="{% static 'Khach_Hang/images/home/download.jpg' %}" class="pricing" alt="" />
								</div>
							</div>
                            <div class="item">
								<div class="col-sm-6">
									<h1><span>Apple Watch</span> Series 6 </h1>
									<h2>25.999.000₫</h2>
                                    <p>Apple Watch Series 6 40mm có thiết kế tổng thể tương tự như Apple Watch Series 5 hay thậm chí là Series 4. Điều khác biệt đó là các cảm biến đo nồng độ oxy trong máu mới được đặt dưới đáy của Watch Series 6. </p>
									<a href="product/4" type="button" class="btn btn-default get">Mua ngay</a>
								</div>
								<div class="col-sm-6">
									<img style="width: 1000px;height: 500px;"src="{% static 'Khach_Hang/images/home/apple-watch-series-6-44mm-vien-nhom-xanh-day-cao-su.jpg' %}" class="girl img-responsive" alt="" />
									<img style="width: 100px;height: 100px; right: 0%; top: 70%"src="{% static 'Khach_Hang/images/home/download.jpg' %}" class="pricing" alt="" />
								</div>
							</div>
                        </div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Ngành hàng</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for label in labels %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{label.id}}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{ label.name }}
										</a>
									</h4>
								</div>
								<div id="{{label.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>

											{% for cate in cat %}
												{% if cate.label.name == label.name %}
													<li><a href="category/{{cate.id}}">{{cate.name}} </a></li>

												{% endif %}
											{% endfor %}

										</ul>
									</div>
								</div>
							</div>

							{% endfor %}
						</div><!--/category-products-->

						<div class="shipping text-center"><!--shipping-->
							<img style="height: 450px;width: 230px;"src="{% static 'Khach_Hang/images/home/63epIkbEsTksN.jpg-1.jpg' %}" alt="" />
						</div><!--/shipping-->

					</div>
				</div>
				<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Sản phẩm nổi bật</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for item in random %}
										<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<img style=" height: 150px;   width: 150px;" src="{% static item.image.url %}" alt="" />
												<h2>{{ item.price }} VNĐ</h2>
												<p>{{ item.name }}</p>
												<a href="{{ item.get_add_to_cart_url }}" onclick="addcart({{ item.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
												<a href="product/{{item.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>

											</div>

									</div>

								</div>
							</div>
									{% endfor %}

								</div>
								<div class="item">
									{% for item in random1 %}
									<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img  style="   height: 150px; width: 150px;" src="{% static item.image.url %}" alt="" />
											<h2>{{ item.price }} VNĐVNĐ</h2>
											<p>{{ item.name }}</p>
											<a href="{{ item.get_add_to_cart_url }}" onclick="addcart({{ item.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
											<a href="product/{{item.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>

										</div>

								</div>

							</div>
						</div>
									{% endfor %}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Tất cả sản phẩm</h2>
						{% for item in items %}
						<div style="height: 400px;" class="col-sm-4" >
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img style="width: 250px;height: 250px" src="{% static item.image.url %}" alt="" />
											<h2>{{ item.price }} VNĐ</h2>
											<p>{{ item.name }}</p>
											<a  href="{{ item.get_add_to_cart_url }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
											<a href="product/{{item.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>

										</div>

								</div>

							</div>
						</div>

						{% endfor %}

					</div><!--features_items-->



				</div>
			</div>
		</div>
	</section>
{% endblock %}



